<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>dralmostright</h2>
        </header>
        <p>This is <strong>Suman Adhikari</strong>
        <br />
	<img class="img-circle" width=120px src="/images/me.png">
	<br />
	Techie and Fuzzy
        <!-- <a href="https://github.com/dralmostright">Follow Me on Github.</a></p> -->
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Explore more about me.</a></li>
            </ul>
        </footer>

    </div>

</section>
